<?xml version="1.0" encoding="UTF-8"?>

<phpunit colors="true" bootstrap="tests/bootstrap.php">
    <testsuites>
        <testsuite name="MOYSKLAD">
            <directory>tests/Unit/Moysklad</directory>
        </testsuite>
        <testsuite name="OZON">
            <directory>tests/Unit/Ozon</directory>
        </testsuite>
        <testsuite name="SYNCHRONIZER">
            <directory>tests/Unit/Synchronizer</directory>
        </testsuite>
    </testsuites>
</phpunit>
